<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ardiarahma.education">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegisterParentActivity" />
        <activity
            android:name=".activities.child.MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.child.GameActivity" />
        <activity android:name=".activities.child.EbookActivity" />
        <activity android:name=".activities.child.EbookShelvesActivity" />
        <activity
            android:name=".activities.parent.ParentMainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.child.BanksoalActivity" />
        <activity android:name=".activities.child.BanksoalShelvesActivity" />
        <activity android:name=".activities.child.BanksoalTestActivity" />
        <activity android:name=".activities.parent.ParentRegisterChildActivity" />
        <activity android:name=".activities.parent.ParentDeleteChildActivity" />
        <activity android:name=".activities.parent.ParentEditChildActivity" />
        <activity android:name=".activities.parent.ParentChangePasswordActivity" />
        <activity android:name=".activities.parent.ParentProfileUpdateActivity" />
        <activity android:name=".activities.parent.ParentDetailsChildActivity" />
        <activity android:name=".activities.parent.ParentChangePasswordChildActivity" />
        <activity android:name=".activities.parent.ResultActivitiesReportActivity" />
        <activity android:name=".activities.parent.ResultStudiesReportActivity" />
        <activity android:name=".activities.parent.ForgetPasswordActivity" />
    </application>

</manifest>